/*COLORS*/

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

/*FONT-WEIGHTS*/
$medium: 400;
$bold: 700;

/*FONT-SIZE*/
$font-size: 18px;
$bar-chart-font-size: 12px;

/*RADIUS*/
$border-radius-balance: 13px;
$border-radius-bar: 5px;

/* BREAKPOINTS*/
$breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
  'xl': 1200px
);

/*MIXINS*/
@mixin xs {
  @media (min-width: map-get($breakpoints, 'xs')) {
    @content;
  }
}
@mixin sm {
  @media (min-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, 'md')) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
}

h1 {
  text-align: left;
  font-weight: $bold;
  @include sm {
    font-size: 2.5rem;
  }
}
h2 {
  @include sm {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

p {
  font-size: $font-size;
  font-weight: $medium;
}

.container {
  width: 90%;
  height: 80%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include sm {
      width: 30rem;
      height: 40rem;
  }
}

.balance-wrapper {
  width: 100%;
  height: 18%;
  display: inline-flex;
  justify-content: space-between;
  background-color: $soft-red;
  color: $very-pale-orange;
  border: 1px solid transparent;
  border-radius: $border-radius-balance;
  padding: 1.5em;
  margin-bottom: 1em;
  .balance-items {
    line-height: 1.5;
  }

  img {
    height: 60px;
    width: 60px;
  }
}

.chart-total-wrapper {
  height: 72%;
  width: 100%;
  background-color: $very-pale-orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: $border-radius-balance;
  padding: 1.5em;
  color: $dark-brown;
}

.chart-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;

  .bar-chart {
    border: 1px solid transparent;
    border-radius: $border-radius-bar;
    background-color: $soft-red;
    margin-bottom: 3.5rem;
  }

  .bar-chart:hover {
    opacity: .7;
    cursor: pointer;
  }

  .active {
    background-color: $cyan;
  }

  span {
    position: relative;
    font-size: $bar-chart-font-size;
    color: $medium-brown;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .span-amount {
    background: black;
    color: white;
    padding: .3rem;
    border: 1px solid black;
    border-radius: $border-radius-bar;
    width: max-content;
    transform: translateY(-60px);
    transition: transform .3s ease-in-out;
  }

}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding-top: 1.5em;
  border-top: 2px solid $cream;

  .last-month {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .last-month :nth-child(1) {
    font-weight: $bold;
  }

  .last-month :nth-child(2),
  .total-month :nth-child(1) {
    font-size: 16px;
    color: $medium-brown;
  }

}

.footer {
  width: 100%;
  height: 30px;
  bottom: 5px;
  margin-top: 0;
  position: fixed;

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}




